<div class="row">
  <div class="span4">
    <h1 class="story-title"><%= @story_node.story.title %></h1>
    <div class="tower-ad">
      <script type="text/javascript"><!--
        google_ad_client = "ca-pub-3868601799767231";
        /* Tower Ad */
        google_ad_slot = "8876164667";
        google_ad_width = 160;
        google_ad_height = 600;
        //-->
      </script>
      <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>
  </div>

  <div class="span10 offset1">
    <div id="story-node-placeholder"></div>
    <% if !@comments.nil? %>
      <div class="comments-container">
        <% @comments.each do |comment| %>
          <div class="comment">
            <h3><%= comment.user.username %></h3>
            <p><%= comment.comment %></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if signed_in? %>
      <h2>Post a comment</h2>
      <div class="commentForm">
        <%= form_for @comment, :method => :post do |form| %>
          <!--<%= form.text_field :title, :placeholder => "Title" %>
          </br>-->

          <%= form.text_area :comment, :placeholder => "Comment" %>

          </br>

          <%= form.submit "Post Comment", :class => "btn primary postCommentButton" %>

          <% if !@story_node.nil? %>
            <%= form.hidden_field 'story_node_id', :value => @story_node.id %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="banner-ad">
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-3868601799767231";
      /* Leaderboard Ad */
      google_ad_slot = "8625148376";
      google_ad_width = 728;
      google_ad_height = 90;
      //-->
    </script>
    <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
</div>

<script type="text/javascript">
  window.BranchItOut.storyNode = <%= raw @story_node.to_json %>;
  window.BranchItOut.storyNode.parent = <%= raw @story_node.previous_branches[0].to_json %>;
  window.BranchItOut.storyNode.branches = <%= raw @story_node.branches.to_json %>;
  window.BranchItOut.storyNode.votes = <%= raw @story_node.votes.to_json %>;
  window.BranchItOut.storyNode.author = {
    id       : <%= raw @story_node.author.id.to_json %>,
    username : <%= raw @story_node.author.username.to_json %>
  };
</script>

<%= requirejs_include_tag 'story_node_page' %>

<%= render 'templates/story_node_templates.html' %>

<!--
<div class="fb-like" data-href=<%= request.url %> data-send="false" data-width="450" data-show-faces="true"></div>
-->
