<!DOCTYPE html>
<html>
  <head>
    <title><%= setTitleBasedOnPage %></title>
    <link rel="icon" href="/assets/favicon.ico" type="image/ico" />
    <%= stylesheet_link_tag   "application" %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
      window.BranchItOut = {
        currentUser : <%= raw current_user.to_json %>
      };
    </script>

    <script type="text/javascript">
      var _gaq = _gaq || [];

      <% if Rails.env.production? %>
          _gaq.push(['_setAccount', 'UA-28266693-1']);
          _gaq.push(['_trackPageview']);

          (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      <% end %>

    </script>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/topbar' %>
      <% flash.each do |key, value| %>
        <div class="row">
          <div class="span8 offset4">
            <div class="alert-message block-message <%= key %>"><%= value %></div>
          </div>
        </div>
      <% end %>

      <%= yield %>

      <br/>
      <br/>
      <br/>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
